.walkingVeggies {                                             /*Grundrahmen wird erstellt*/
    position: relative;
    padding-left: 0px;
}

.pLLeg, .pRLeg, .cLLeg, .cRLeg, .bLLeg, .bRLeg {            /*Füße werden erstellt und ausgerichtet*/
    margin-top: 115px;
    margin-left: -85px;
    height: 50px;
    width: 5px;
    background: #000;
    float:left;
 }

.finish {                                                    
    padding-left: 80%;
}

/*Bananen-Animation*/
.bananaBody {                                           /*Possition der Banane wird festgelegt*/
    float:left;
    margin-left: -130px;
}

.bananaMove {                                           /*Animation Banane*/  
    -webkit-animation: Body 6s 1 4s linear;
    position: absolute; 
}

.bRLeg {                                                /*Animation rechtes Bein*/
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement1 0.1s 4s alternate infinite ease-out;
}

.bLLeg {                                                /*Animation linkes Bein*/
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement2 0.1s 4s alternate infinite ease-in;
}

/*Gurken-Animation*/
.cucumberBody {
    float:left;
    margin-left: -130px;
}

.cucumberMove {     
    -webkit-animation: Body 10s 1 4s linear;
    position: absolute;
}

.cRLeg {
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement1 0.2s 4s alternate infinite ease-out;
}

.cLLeg {
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement2 0.2s 4s alternate infinite ease-in;
}

/*Kartoffel-Animation*/
.potatoeBody {
    float:left;
    margin-left: -132px;
}

.potatoeMove {     
    -webkit-animation: Body 11s 1 4s linear;
    position: absolute;
}

.pRLeg {
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement1 0.3s 4s alternate infinite ease-out;
}

.pLLeg {
    -webkit-transform-origin: 0 0;
    -webkit-animation: movement2 0.3s 4s alternate infinite ease-in;
}

@-webkit-keyframes Body {                                 /*Bewegung von links nach rechts*/  
from {margin-left:0px;}
to {margin-left:100%;}
}

@-webkit-keyframes movement1 {                            /* Bewegung linker Fuß */
    from {-webkit-transform:rotate(-30deg);}
    to {-webkit-transform:rotate(30deg);}
}

@-webkit-keyframes movement2 {                           /* Bewegung rechter Fuß*/
    from {-webkit-transform:rotate(30deg);}
    to {-webkit-transform:rotate(-30deg);}
}